body {
  margin: 0;
  padding: 0;
  background-color: #faebd6;
}

.toast div {
  position: fixed;
  top: -70px;
  z-index: 10;
  width: 100%;
  background-color: #048c04;
  padding: 25px 0 25px 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  text-align: center;
}

.toast div.show-toast {
  animation: toast-show 0.5s;
  animation-fill-mode: forwards;
}

.toast div.hide-toast {
  animation: toast-hide 0.5s;
  animation-fill-mode: forwards;
}

section.modal.hide-modal {
  display: none;
}

section.modal .modal-black-background::before {
  content: '';
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  overflow: auto;
}

section.modal .modal-content {
  position: fixed;
  top: 16%;
  z-index: 20;
  background-color: white;
  width: 90%;
  left: 5%;
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 7px;
  animation: modal-show 0.5s;
}

section.modal .modal-content .header {
  text-align: center;
}

section.modal .modal-content .body {
  padding: 0 37px;
  margin-bottom: 27px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: center;
}

section.modal .modal-content .footer .decision-button {
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  padding: 4px 15px;
  cursor: pointer;
}

section.modal .modal-content .footer .decision-button.yes-button {
  background-color: #64ff64;
  color: white;
}

section.modal .footer .decision-button.no-button {
  background-color: red;
  color: white;
}

section.modal .footer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 16px 20px;
}

.hide {
  display: none;
}

.red-border {
  border-color: red !important;
}

.content {
  margin: 80px 10px 0 10px;
}

.navbar {
  overflow: hidden;
  background-color: #0abab5;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .elements {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 22px;
}

.navbar .elements .element.title {
  font-family: 'Lobster', cursive;
}

.content .form {
  margin-bottom: 16px;
}

.content .form .label {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  color: #585245;
  margin-bottom: 7px;
}

.content .form .field {
  margin-bottom: 10px;
}

.content .form input,
.content .form select,
.content .form textarea {
  border: 0px;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #c5bfb0;
  border-radius: 3px;
}

.content .form .validation-message {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: red;
}

.content .form textarea {
  height: 77px;
}

.content .form .full-button {
  text-align: center;
}

.content .form .full-button button {
  border: 0;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #698dd8;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 8px;
}