.content {
  .header {
    padding-bottom: 0.2em;

    .title {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.2em;
    }

    .subtitle-container {
      display: flex;
      justify-content: space-between;
    }

    .subtitle {
      font-family: Roboto;
      font-size: 0.8em;
      margin-bottom: 1em;

      .subtitle-label {
        font-weight: bold;
        color: #828282;
        font-size: 1.1em;
        font-family: 'Alegreya Sans SC', sans-serif;
      }

      .subtitle-content {
        font-size: 1.5em;
      }
    }

    .subtitle:last-child {
      margin-bottom: 0;
    }
  }

  .items {
    .items-title {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: bold;
      margin-bottom: 0.2em;
    }

    .items-container {
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 12px;
      background-color: #dcc7ab;
    }

    .item {
      padding: 13px 15px 13px 15px;

      .inline-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
        border-bottom: 1px solid;
        padding-bottom: 0.2em;
      }

      .inline-info-content:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .inline-info-content {
        font-size: 1em;
      }

      .big {
        font-size: 1.2em;
      }
    }
  }
}
